---
layout: default
title: Tools
type: page
weight: 10
submenuTools: true
bannertext: To a general advertiser outdoor advertising is worthy of consideration. Outdoor advertising is considered as the oldest.
---

<ul class="collections">
  {% for tool in site.tools %}
    <li>
		<a {% if tool.url == page.url %}class="active"{% endif %} href="{{ tool.url }}">
			<span class="collections__image {{ tool.icon }}" style="background: #{{ tool.colColor }}"></span>
			<span class="collections__title">{{ tool.title | replace: '-', ' ' }}</span>
		</a>
    </li>
  {% endfor %}
</ul>
