---
layout: jobs
title: Jobs
type: page
weight: 12
bannertext: A List of Jobs to Help You Landed on the Right Place 
---

<p>Please wait, we will add some job posts soon! Do you have one? <a href="mailto:hi@lieur.com?subject=Add this job to Boomkrak">Let us know.</a></p>

<!--
{% assign jobs = site.data.jobs.jobs | sort:"date" %}
<ul class="job__list">
  	{% for job in jobs %}
    <li>
		<div class="job__list__left">
			<h6><a href="{{ job.url }}" target="_blank">{{ job.position }}</a></h6>
			<div class="resource__tag">
				{% assign tags = job.tag | split:", " %}
				{% for tag in tags %}
					<a href="{{ site.baseurl }}/jobs/{{ tag |  replace: ' ', '-'}}">{{ tag }}</a>
				{% endfor %}
			</div>
		</div>
		<div class="job__list__right">
			<p>{{ job.company }}</p>
			<p>{{ job.location }}</p>
			<input type="hidden" value="{{ job.date }}" class="jobdate">
			<small><time class="timeago"></time></small>
		</div>
    </li>
  	{% endfor %}
</ul>
-->