---
layout: resources
title: Resources
type: page
weight: 11
bannertext: Awesome tools to help you design and build stuff
---

{% assign resources = site.data.resources.resources %}
<ul class="resource__list">
  	{% for resource in resources %}
    <li>
		<h5>Week of {{ resource.date }}</h5>
		<ul>
			{% for article in resource.content %}
			<li {% if article.promo == "true" %} class="sponsored" {% endif %}>
				<h6><a href="{{ article.articleUrl }}" target="_blank"><span>{{ article.articleTitle }}</span></a></h6>
				<p>An article by {{ article.articleAuthor }}</p>
				<div class="resource__tag">
					{% assign tags = article.articleTag | split:", " %}
					{% for tag in tags %}
						<a href="{{ site.baseurl }}/tag/{{ tag |  replace: ' ', '-'}}">{{ tag }}</a>
					{% endfor %}
				</div>
			</li>
			{% endfor %}
		</ul>
		
    </li>
  	{% endfor %}
</ul>

