// ============================================
// FONT VARIABLE
// ============================================

//$f-sansserif: 'Rubik', sans-serif;
$f-sansserif:  "freight-sans-pro",sans-serif;
$f-bungee: "bungee",sans-serif;
$f-malaga: "malaga",sans-serif;;

// ===========================================
// COLOR VARIABLE
// ===========================================

$c-black: #56502B;
$c-yellow: #FFE546;
$c-purple: #534C98;
$c-red: #F38181;
$c-white: #F9F9F9;
$c-blue: #A9EEE6;

// ===========================================
// SUSY SETTING
// ===========================================

$susy: (
	column-width: 65px,
  	columns: 12,
  	gutters: 30/65,
  	math: fluid,
  	gutter-position: split
);

$susy-small: (
	columns: 4,
	gutters: 30/65,
  	math: fluid,
  	gutter-position: split
);

// ===========================================
// BREAKPOINT
// ===========================================

$small-range:   (0em 47.9375em);       /* 0, 640px */
$medium-range:  (48em 64em);  /* 641px, 1024px */
$large-range:   (64.063em 90em);  /* 1025px, 1440px */
$xlarge-range:  (90.063em 120em); /* 1441px, 1920px */
$xxlarge-range: (120.063em);       /* 1921px */