<footer>
	<div class="container">
		<p class="footer__feedback center-text">
			Boomkrak is a growing list of resources aimed to help you find what you need for your next projects.<br>
			<a href="http://twitter.com/lieurco">Tweet the maker</a> if you have any feedbacks.
		</p>
		<div class="footer__share">
			<a class="twitter-share-button" href="https://twitter.com/share">Tweet</a>
			<div class="fb-share-button" data-href="http://boomkrak.com" data-layout="button_count" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fboomkrak.com%2F&amp;src=sdkpreparse">Share</a></div>
		</div>
		<div class="logo">
			<a href="#">BOOMKRAK</a>
			<!--
			<span>Made with &hearts; by <a href="http://lieur.co">Lieur.co</a></span>
			-->
		</div>
		<ul class="footer__links">
			<li><a href="{{ site.baseurl }}/privacy-policy/">Privacy Policy</a></li>
			<li><a href="{{ site.baseurl }}/terms/">Terms of Use</a></li>
			<li><a href="mailto:hello@boomkrak.com?subject=Advertise at Boomkrak">Advertise with Us</a></li>
		</ul>
		<div class="footer__maker">
			Made with &hearts; by <a href="http://lieur.co"><img src="{{ site.baseurl }}/assets/images/logo-lieur.svg" alt=""></a>
		</div>
	</div>
</footer>

<div class="popup">
	<div class="popup__backdrop"></div>
	{% include subscribe-form.html %}
</div>