<footer>
	<div class="container">
		<div class="logo">
			<a href="#">BOOMKRAK</a>
			<!--
			<span>Made with &hearts; by <a href="http://lieur.co">Lieur.co</a></span>
			-->
		</div>
		<ul class="footer__links">
			<li><a href="#">Privacy Policy</a></li>
			<li><a href="#">Term of Use</a></li>
		</ul>
		<div class="footer__maker">
			Made with &hearts; by <a href="http://lieur.co"><img src="{{ site.baseurl }}/assets/images/logo-lieur.svg" alt=""></a>
		</div>
	</div>
</footer>

<div class="popup">
	<div class="popup__backdrop"></div>
	{% include subscribe-form.html %}
</div>