{% assign titleBg = page.title | replace: '-', '' | downcase %}
{% if page.url contains 'jobs' %}

<header style="background-image: url({{ site.baseurl }}/assets/images/header-pattern-jobs-solid.png)">
{% elsif page.url contains 'tag' %}
<header style="background-image: url({{ site.baseurl }}/assets/images/header-pattern-articles-solid.png)">
{% elsif page.url contains 'new-discover' %}
<header style="background-image: url({{ site.baseurl }}/assets/images/header-pattern-boomkrak-solid.png)">
{% else %}
<header style="background-image: url({{ site.baseurl }}/assets/images/header-pattern-{{ titleBg }}-solid.png)">
{% endif %}
	<div class="container">
		<div class="logo"><a href="{{ site.baseurl }}/">Boomkrak</a></div>
		{% assign pages = site.pages | sort:"weight"  %}
		<ul class="header__menu">
		{% for p in pages %}
	  		{% if p.type == 'page' %}
			<li>
				<a {% if p.url == page.url %}class="active"{% endif %} href="{{ p.url }}">
				{{ p.title }}
				</a>
				{% if p.submenuTools %}
					<ul class="submenu">
						{% for toolPage in site.tools %}
						<li>
							<a href="{{ toolPage.url }}">
								<span style="color: #{{ toolPage.colColor }}" class="{{ toolPage.icon }}"></span>
								{{ toolPage.title | replace: '-', ' ' }}
							</a>
						</li>
						{% endfor %}
					</ul>
				{% endif %}
		    </li>
		    {% endif %}
		{% endfor %}
			<li><a href="javascript:void(0)" class="btn-subscribe ion-android-mail"><span>Subscribe</span></a></li>
		</ul>
	</div>
</header>

{% if page.url contains 'jobs' %}
<section class="banner" style="background-image: url({{ site.baseurl }}/assets/images/header-pattern-jobs-gradient.png), url({{ site.baseurl }}/assets/images/header-pattern-jobs-solid.png)">
{% elsif page.url contains 'tag' %}
<section class="banner" style="background-image: url({{ site.baseurl }}/assets/images/header-pattern-articles-gradient.png), url({{ site.baseurl }}/assets/images/header-pattern-articles-solid.png)">
{% elsif page.url contains 'new-discover' %}
<section class="banner" style="background-image: url({{ site.baseurl }}/assets/images/header-pattern-boomkrak-gradient.png), url({{ site.baseurl }}/assets/images/header-pattern-boomkrak-solid.png)">
{% else%}
<section class="banner" style="background-image: url({{ site.baseurl }}/assets/images/header-pattern-{{ titleBg }}-gradient.png), url({{ site.baseurl }}/assets/images/header-pattern-{{ titleBg }}-solid.png)">
{% endif %}
	<div class="container">
		<div class="banner__text">
			{% if page.bannertext %}
				{{ page.bannertext }} 
			{% elsif page.url contains "tools" %}
				<span class="banner__text__pp">Tools</span>
				<br>
				{{ page.title | replace: '-', ' ' | capitalize }} 
			{% elsif page.url contains "tag" %}
				<span class="banner__text__pp">Articles</span>
				<br>
				<span data-tag="{{ page.name }}">{{ page.name | replace: '-', ' ' | capitalize }}</span>
			{% else %}
				<span class="banner__text__pp">Jobs</span>
				<br>
				{{ page.name | replace: '-', ' ' | capitalize }}
			{% endif %}
		</div>
	</div>
</section>