<head>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <meta name="keyword" content="startup tools, business tools, collaboration tools, color scheme tools, framework, iconset, web inspiration, motion tools, presentation tools, prototyping tools, stock image, typography tools, user research tools, useful list for startup">

  {% seo title=false %}
  
  <title>
    {% if page.title == "Boomkrak" %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% elsif page.url contains "tools" %}
      Tools – {{ page.title | capitalize | replace: '-', ' '}} // {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {{ page.title }} // {{ site.title }} &middot; {{ site.tagline }}
    {% endif %}
  </title>
  
  <!-- favicon -->
  <link rel="apple-touch-icon" sizes="57x57" href="assets/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="assets/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="assets/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="assets/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="assets/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="assets/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="assets/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="assets/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="assets/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="assets/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="assets/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="assets/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="assets/favicon-16x16.png">
  <link rel="manifest" href="assets/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="assets/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <!-- endfavicon -->

  <!-- typekit -->
  <script src="https://use.typekit.net/fcu8lkl.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
  <!-- endtypekit -->

  <!-- CSS -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
  <!-- build:css /assets/stylesheets/vendor.min.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="/bower_components/normalize-css/normalize.css" />
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:css /assets/stylesheets/style.min.css -->
  <link rel="stylesheet" href="/assets/stylesheets/style.css">
  <!-- endbuild -->

  <!-- Icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/images/touch/apple-touch-icon-144-precomposed.png">
  <link rel="shortcut icon" href="/assets/favicon.ico">

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">
</head>
