<header>
	<div class="container">
		<div class="logo"><a href="{{ site.baseurl }}/">Boomkrak</a></div>
		{% assign pages = site.pages | sort:"weight"  %}
		<ul class="header__menu">
		{% for p in pages %}
	  		{% if p.type == 'page' %}
			<li>
				<a {% if p.url == page.url %}class="active"{% endif %} href="{{ p.url }}">
				{{ p.title }}
				</a>
				{% if p.submenuTools %}
					<ul class="submenu">
						{% for toolPage in site.tools %}
						<li><a href="{{ toolPage.url }}" style="color: #{{ toolPage.colColor }}" class="{{ toolPage.icon }}">{{ toolPage.title | replace: '-', ' ' }}</a></li>
						{% endfor %}
					</ul>
				{% endif %}
		    </li>
		    {% endif %}
		{% endfor %}
			<li><a href="javascript:void(0)" class="btn-subscribe ion-android-mail"><span>Subscribe</span></a></li>
		</ul>
	</div>
</header>

<section class="banner" style="background-color: #{{ page.colColor }}">
	<div class="container">
		<div class="banner__text">
			{% if page.bannertext %}
				{{ page.bannertext }} 
			{% elsif page.url contains "tools" %}
				Tools – {{ page.title | replace: '-', ' ' }} 
			{% else %}
				{{ page.title | replace: '-', ' ' }}
			{% endif %}
		</div>
	</div>
</section>