{% assign sticky_tools = site.data[include.title].tools | where: "sticky", true | sort: 'title' %}
{% assign tools = site.data[include.title].tools | where: "sticky", false | sort: 'title' %}

<ul>
	{% for tool in sticky_tools %}
		<li class="collection__list sponsored">
			<p>
				<a href="{{ tool.url }}" title="{{ tool.title }}" target="_blank">
					<img src="https://www.google.com/s2/favicons?domain={{ tool.url }}" alt="{{ tool.title }}">
					{{ tool.title }}
				</a>
				<br>
				{{ tool.desc }}
			</p>
			<a href="{{ tool.url }}" target="_blank" class="ion-android-open"></a>
		</li>
	{% endfor %}
	{% for tool in tools %}
		<li class="collection__list">
			<p>
				<a href="{{ tool.url }}" title="{{ tool.title }}" target="_blank">
					<img src="https://www.google.com/s2/favicons?domain={{ tool.url }}" alt="{{ tool.title }}">
					{{ tool.title }}
				</a>
				<br>
				{{ tool.desc }}
			</p>
			<a href="{{ tool.url }}" target="_blank" class="ion-android-open"></a>
		</li>
	{% endfor %}
</ul>

<!--
{% assign sticky_tools = site.data[include.title].tools | where: "sticky", true | sort: 'title' %}
{% assign tools = site.data[include.title].tools | where: "sticky", false | sort: 'title' %}

<ul>
    {% for t in sticky_tools %}
    <li>{{ t.title }}</li>
    {% endfor %}

    {% for t in tools %}
    <li>{{ t.title }}</li>
    {% endfor %}
</ul>
-->