body{
	color: $c-black;
	background: $c-white;
}

header{
	background: $c-purple url('../images/header-pattern-tools-solid.png') repeat center;
	.logo{
		a{
			color: $c-yellow;
		}
	}
	a{
		color: white;
		&:hover,
		&.active{
			color: $c-yellow;
		}
		&.active{
			font-weight: 700;
		}
	}
}

.header{
	&__menu{
		li{
			.submenu{
				background: #fff;
				box-shadow: 0 3px 20px rgba($c-black, 0.15);	
				a{
					color: $c-black;
					&:hover{
						color: $c-red;
					}
				}
			}
		}
	}
}

.btn-subscribe{
	background: $c-yellow;
	box-shadow: 2px 3px 0 $c-red;
	//border: 1px solid $c-purple;
	color: rgba(black, 0.75);
	transition: 400ms;
	&:hover{
		color: rgba(black, 0.55);
		background: darken($c-yellow, 15%);
	}
	&.ion-android-mail:before{
		color: rgba(black, 0.55);
		border-right: 1px solid rgba(black, 0.55);
		@include susy-breakpoint($small-range, $susy-small){
			border: none;
		}
	}
}

.banner{
	background-color: $c-purple;
	background-image: url(../images/header-pattern-tools-gradient.png), url(../images/header-pattern-tools-solid.png);
	background-position: bottom center, top center;
	background-repeat: repeat-x, repeat;
	//background-size: 160px 100px, auto;
	color: #fff;
	font-family: $f-malaga;
	@include susy-breakpoint($small-range){
		//background-size: 160px 25px, auto;
	}
	@include susy-breakpoint($medium-range){
		//background-size: 160px 160px, auto;
	}
}

.content{
	border-bottom: 1px solid rgba(black, 0.1);
	&__right{
		//background: white;
		transition: 400ms;
		&:hover{
			//box-shadow: 0 3px 20px rgba($c-black, 0.15);	
		}
	}
}

.collections{
	li{
		background: white;
		//border: 1px solid rgba($c-black, 0.25);
		transition: 400ms;
		&:hover{
			box-shadow: 0 3px 20px rgba($c-black, 0.2);
		}
	}
	&__image{
		background: $c-purple;
		&:before{
			color: #fff;
		}
	}
	&__title{
		color: rgba(black, 0.55);
	}
}

.collection{
	&__list{
		a{
			color: $c-black;
			&:hover{
				color: $c-red;
			}
		}
		.ion-android-open{
			border: 1px solid $c-yellow;
			color: $c-red;
			&:after { background: $c-yellow; }
			&:hover{
				&:before{
					color: rgba(black, 0.45);
				}
				&:after{
					transform: scale(1);
				}
			}
		}
		&.sponsored{
			background: rgba($c-yellow, 0.15);
			&:after{
				background: $c-yellow;
				color: rgba(black, 0.55);
			}
		}
	}
}

.resource{
	&__list{
		ul{
			color: $c-purple;
		}
		> li{
			padding-bottom: 3 * $magic-number;
			border-bottom: 1px solid rgba(black, 0.1);
			.sponsored{
				background: rgba($c-yellow, 0.15);
				&:after{
					background: $c-yellow;
					color: rgba(black, 0.55);
				}
			}
		}
		h5{
			color: $c-purple;
			&:after{
				background: $c-red;
			}
		}
		h6{
			a{
				color: $c-black;
				&:hover{
					color: $c-red;
				}
				&:before{
					background: $c-yellow;
				}
				&:after{
					background: $c-blue;
				}
			}
		}
	}
	&__tag{
		a{
			border: 1px solid $c-red;
			color: $c-red;
			transition: 300ms;
			&:hover{
				background: $c-red;
				color: #fff;
			}
		}
	}
}

.tag{
	&__list{
		h6{
			a{
				color: $c-black;
				//background: $c-yellow;
				&.active{
					background: #fff;
				}
			}
		}
		h6{
			a{
				color: $c-black;
				&:hover{
					color: $c-red;
				}
				&:before{
					background: $c-yellow;
				}
				&:after{
					background: $c-blue;
				}
			}
		}
	}
}

.job{
	&__list{
		h6{
			a{
				color: $c-purple;	
			}
			
		}
	}
}

.sidebar{
	&.stuck{
		position: fixed;
		top: 2 * $magic-number;
		width: span(3);
	}
	.bordered{
		border-right: 1px solid rgba(black, 0.1);
		padding-right: 2 * $magic-number;
		@include susy-breakpoint($small-range){
			border-right: none;
		}
	}
	h4{
		color: $c-purple;
	}
	&__menu{
		a{
			color: $c-black;
			&:hover{
				color: $c-red;
			}
			&.active{
				color: $c-red;
				font-weight: 500;
				.col-color{
					box-shadow: 0 0 8px rgba($c-red, 1);
				}
			}
		}
		&.tag-list{
			a{
				border: 2px solid $c-red;
				color: $c-black;
				&:hover{
					background: #fff !important;
					//color: #fff !important;
				}
				&.active{
					background: $c-yellow;
				}
			}
		}
	}
	&__subscribe{
		background: $c-blue;
		transition: 400ms;
		&:hover{
			box-shadow: 0 3px 20px rgba(black, 0.1);	
		}
		label{
			color: rgba(black, 0.75);
		}
		input[type="email"]{
			&:focus{
				outline: none;
				box-shadow: 0 0 8px $c-red;
				border: none;
			}
		}
		input[type="submit"]{
			border: 1px solid rgba(black, 0.25);
			background: $c-purple;
			color: #fff;
		}
	}
}
.col-color{
	background: $c-purple;
}

#mc_embed_signup input.mce_inline_error{
	border: 1px solid $c-red !important;
}
#mc_embed_signup div.mce_inline_error{
	background: none !important;
	color: $c-red !important;
	font-weight: normal !important;
}

footer{
	a{
		color: $c-red;
		&:hover{
			color: $c-black;
		}
	}
}

.popup{
	background: rgba(black, 0.85);
}

.typeform-share{
	background: $c-red;
	color: #fff;
	font-weight: 500;
	box-shadow: 2px 3px 0 $c-yellow;
	transition: 400ms;
	&:before{
		border-right: 1px solid #fff;
		color: #fff;
		transition: 400ms;
	}
	&:hover{
		background: darken($c-red, 5%);
	}
}