html{
	font-size: 100%;
	font-size: ms(1);
	transition: opacity 400ms;
	@include susy-breakpoint($small-range){
		font-size: ms(0);
	}
}
body{
	font-family: $f-sansserif;
}
title{
	text-transform: uppercase;
}

.wf-loading {
  visibility: hidden;
  opacity: 0;
}
.wf-active {
  visibility: visible;
  opacity: 1;
}

// HEADER
header{
	.container{
		padding: 5px 0;
	}
	.logo{
		@include span(3);
		font-family: $f-bungee;
		font-size: ms(7);
		text-transform: uppercase;
		line-height: 1.55;
		@include susy-breakpoint($small-range, $susy-small){
			@include span(4);
			text-align: center;
		}
	}
}
.header{
	&__menu{
		@include span(8 last);
		text-align: right;
		padding-left: 0;
		font-size: ms(0);
		text-transform: uppercase;
		@include susy-breakpoint($small-range, $susy-small){
			@include span(4);
			text-align: center;
		}
		li{
			@include inline-block;
			position: relative;
			margin-left: 2 * $magic-number;
			&:first-child{
				margin-left: 0;
			}
			@include susy-breakpoint($small-range, $susy-small){
				margin-left: 0;
			}
			@include susy-breakpoint($medium-range){
				margin-left: 1.5 * $magic-number;
			}
			.submenu{
				//display: none;
				opacity: 0;
				visibility: hidden;
				width: 150px;
				position: absolute;
				z-index: 9;
				left: 0;
				top: 0;
				padding: 5px 0;
				text-align: left;
				transition: 300ms;
				&:hover{
					opacity: 1;
					visibility: visible;
					top: 30px;
				}
				li{
					display: block;
					text-transform: capitalize;
					margin-left: 0;
					a{
						font-weight: 400;
						display: block;
						padding: 5px $magic-number;
					}
					[class*="ion-"]{
						@include inline-block;
						width: 12px;
						height: 12px;
						position: relative;
						top: 1px;
						margin-right: $magic-number;
						text-align: center;
					}
				}
			}
			> a{
				padding: 1.5*$magic-number 10px;
				font-weight: 500;
				&.btn-subscribe{
					padding: 8px 18px;
				}
				&:hover + .submenu{
					opacity: 1;
					visibility: visible;
					top: 30px;
				}
			}
		}
	}
}

.btn-subscribe{
	font-weight: 500;
	text-transform: uppercase;
	font-size: ms(0);
	border-radius: 5px;
	&.ion-android-mail:before{
		margin-right: 10px;
		padding-right: 10px;
		font-weight: normal;
		@include susy-breakpoint($small-range, $susy-small){
			margin-right: 0;
			padding-right: 0;
		}
	}
	@include susy-breakpoint($small-range, $susy-small){
		span{
			display: none;
		}
	}
}

.banner{
	font-size: ms(13);
	text-align: center;
	font-weight: 700;
	padding: 5*$magic-number 0 12*$magic-number;
	margin-bottom: 5 * $magic-number;
	@include susy-breakpoint($small-range, $susy-small){
		padding: $magic-number $magic-number 9*$magic-number;
		font-size: ms(7);
	}
	&__text{
		@include span(8);
		@include push(2);
		//text-transform: capitalize;
		@include susy-breakpoint($small-range, $susy-small){
			@include span(4);
			@include push(0);
		}
		&__pp{
			font-size: ms(4);
			font-family: $f-sansserif;
			text-transform: uppercase;
			color: $c-yellow;
			@include susy-breakpoint($small-range, $susy-small){
				font-size: ms(1);
			}
		}
	}
}

.content{
	padding-bottom: 2 * $magic-number;
	&__left{
		width: span(3.5);
		margin-left: gutter();
		float: left;
		transition: 400ms;
		@include susy-breakpoint($small-range, $susy-small){
			@include span(4);
		}
		&.is_stuck{
			margin-top: $magic-number;
		}
	}
	&__right{
		@include span(8.5 last);
		//@include push(0.5);
		padding: 0 0 $magic-number 0;
		@include susy-breakpoint($small-range, $susy-small){
			@include span(4);
			margin-bottom: 2 * $magic-number;
			padding: 0;
		}
	}
}

.collections{
	@include container();
	padding-left: 0;
	li{
		@include span(3);
		list-style: none;
		margin-bottom: 2 * gutter();
		text-align: center;
		border-radius: 15px;
		@include susy-breakpoint($small-range, $susy-small){
			@include span(2);
			margin-bottom: 2 * gutter();
		}
		span{
			display: block;
		}
	}
	&__image{
		padding: 4 * $magic-number 2 * $magic-number;
		border-radius: 15px 15px 0 0;
		@include susy-breakpoint($small-range, $susy-small){
			padding: 3 * $magic-number 2 * $magic-number;
		}
		&:before{
			font-size: ms(22);
			@include susy-breakpoint($small-range, $susy-small){
				font-size: ms(18);
			}
		}
		img{
			display: block;
			margin: 0 auto;
		}
	}
	&__title{
		padding: $magic-number;
		font-size: ms(1);
		text-transform: capitalize;
		border-radius: 0 0 15px 15px;
		font-weight: 500;
	}
}

.collection{
	ul{
		//padding: 0 0 0 5 * $magic-number;
		padding: 0;
		margin: 0;
	}
	&__list{
		padding: $magic-number 0 2*$magic-number 5*$magic-number;
		margin-bottom: 2*$magic-number;
		list-style: none;
		font-size: ms(2);
		font-variant-numeric: lining-nums;
  		-moz-font-feature-settings: "lnum";
  		-webkit-font-feature-settings: "lnum";
  		font-feature-settings: "lnum";
  		position: relative;
  		@include susy-breakpoint($small-range, $susy-small){
  			padding-left: 30px;
  		}
  		&:after{
  			content:"";
  			display: block;
  			width: 100%;
  			height: 1px;  			
  			position: absolute;
  			bottom: 0;
  			right: 0;
  		}
  		&:last-child:after{
  			display: none;	
  		}
		a{
			@include inline-block;
			margin-bottom: $magic-number;
			font-size: ms(1);
			> img{
				position: absolute;
				top: 7px;
				left: -30px;
			}
		}
		&.sponsored{
			position: relative;
			padding-top: 2.5 * $magic-number;
			&:after{
				content: "sponsored";
				text-transform: uppercase;
				position: absolute;
				top: 0;
				left: 0;
				padding: 3px 8px;
				font-size: ms(-4);
				font-weight: 500;				
			}
		}
		> p{
			width: span(10);
			margin-bottom: 0;
			position: relative;
			font-size: ms(1);
			line-height: 1.35;
			@include susy-breakpoint($small-range, $susy-small){
				width: span(4);
				font-size: ms(0);
			}
			> a{
				font-family: $f-malaga;
				font-size: ms(4);
			}
		}
		.ion-android-open{
			@include vertical-align($position: absolute);
			right: 0;
			padding: 5px $magic-number;
			@include susy-breakpoint($small-range, $susy-small){
				display: none;
			}
			&:before{
				position: relative;
				z-index: 5;
				transition: 400ms;
			}
			&:after{
				content: "";
				display: block;
				width: 33px;
				height: 33px;
				position: absolute;
				top: 0;
				left: 0;
				transition: 300ms;
				transform: scale(0);
			}
		}
	}
}

.resource{
	margin-bottom: 5 * $magic-number;
	&__list{
		list-style: none;
		padding: 0 $magic-number $magic-number $magic-number;
		margin: 0;
		@include susy-breakpoint($small-range, $susy-small){
			padding: 0 0 $magic-number;
		}
		> li{
			margin-bottom: 3 * $magic-number;
			ul{
				li{
					margin-bottom: 3 * $magic-number;
					&:last-child{
						margin-bottom: 0;
					}
				}
			}
			.sponsored{
				position: relative;
				padding: 3 * $magic-number $magic-number $magic-number;
				&:after{
					content: "sponsored";
					text-transform: uppercase;
					//letter-spacing: .05em;
					position: absolute;
					top: 0;
					left: 0;
					padding: 3px 8px;
					font-size: ms(-4);
					font-weight: 500;				
				}
			}
		}
		ul{
			list-style-type: decimal-leading-zero;
			list-style-position: inside;
			padding: 0;
			margin: 0;
			@include susy-breakpoint($small-range, $susy-small){
				padding: 0 0 0 2 * $magic-number;
			}
		}
		h5, h6{
			font-weight: normal;
		}
		h5{
			@include inline-block;
			font-size: ms(5);
			margin-bottom: 3 * $magic-number;
			position: relative;
			border-left: 4px solid $c-red;
			padding-left: 25px;
			line-height: 1.5;
			font-variant-numeric: lining-nums;
		    -moz-font-feature-settings: "lnum";
		    -webkit-font-feature-settings: "lnum";
		    font-feature-settings: "lnum";
		    font-weight: 500;
		    text-transform: uppercase;
			&:after{
				//content: "";
				display: block;
				width: 50px;
				height: 5px;
				position: absolute;
				bottom: -5px;
				right: 0;
			}
		}
		h6{
			margin-bottom: 0.5 * $magic-number;
			a{
				@include inline-block;
				position: relative;
				span{
					font-family: $f-malaga;
					position: relative;
					z-index: 2;
					font-size: ms(4);
				}
				/*
				&:before,
				&:after{
					content: "";
					display: block;
					position: absolute;
					width: 100%;
					height: 100%;
					left: 0;
					top: 0;
					transition: 300ms;
				}
				&:after{
					transform: scaleX(0);
				}
				&:hover{
					&:after{
						transform: scaleX(1);		
					}
				}
				*/
			}
		}
		p{
			margin-bottom: 5px;
		}
	}
	&__tag{
		a{
			@include inline-block;
			padding: 3px 5px;
			font-size: 12px;
		}
	}
}

.tag,
.job{
	&__list{
		list-style-type: decimal-leading-zero;
		list-style-position: inside;
		padding: 0;
		margin: 0;
		padding: $magic-number $magic-number $magic-number 0;
		margin: 0;
		li{
			margin-bottom: 2 * $magic-number;
		}
		h6{
			font-weight: normal;
		}
		h6{
			margin-bottom: 0.5 * $magic-number;
			a{
				@include inline-block;
				position: relative;
				span{
					font-family: $f-malaga;
					position: relative;
					z-index: 2;
					font-size: ms(4);
				}
				/*
				&:before,
				&:after{
					content: "";
					display: block;
					position: absolute;
					width: 100%;
					height: 100%;
					left: 0;
					top: 0;
					transition: 300ms;
				}
				&:after{
					transform: scaleX(0);
				}
				&:hover{
					&:after{
						transform: scaleX(1);		
					}
				}
				*/
			}
		}
		p{
			margin-bottom: 5px;
		}
	}
}

.job{
	&__list{
		list-style: none;
		padding: 0 $magic-number $magic-number $magic-number;
		&__left{
			@include span(9);
		}
		&__right{
			@include span(3);
			text-align: right;
			p{
				margin-bottom: 0;
				&:first-child{
					font-weight: 500;
				}
			}
		}
		li{
			@extend %clearfix;
			margin-bottom: 3 * $magic-number;
			&:last-child{
				margin-bottom: 0;
			}
		}
		h6{
			margin-bottom: 5px;
		}
	}
}

.sidebar{
	.bordered{
		margin-bottom: 2 * $magic-number;
	}
	h4{
		font-size: ms(0);
		text-transform: uppercase;
		font-weight: 500;
		margin-bottom: $magic-number;
		@include susy-breakpoint($small-range, $susy-small){
			display: none;
		}
	}
	&__menu{
		list-style: none;
		padding: 0;
		margin-top: 0;
		margin-bottom: 2 * $magic-number;
		@include susy-breakpoint($small-range, $susy-small){
			//display: none;
		}
		li{
			padding: $magic-number 0;
			font-size: ms(1);
			text-transform: capitalize;
		}
		[class*="ion-"]{
			@include inline-block;
			margin-right: 5px;
			width: 15px;
			height: 15px;
			border-radius: 100%;
			text-align: center;
		}
		&.tag-list{
			li{
				@include inline-block;
				padding: 0;
				margin-right: 3px;
				margin-bottom: $magic-number;
				a{
					@include inline-block;
					padding: 5px 10px;
					font-size: ms(0);
					border-radius: 5px;
				}
			}
		}
	}
	&__subscribe{
		padding: 2 * $magic-number;
		text-align: center;
		margin-bottom: 3 * $magic-number;
		font-size: ms(0);
		border-radius: 5px;
		label{
			font-size: ms(1);
			display: block;
			text-align: center;
			margin-bottom: 2 * $magic-number;
		}
		input[type="email"]{
			width: 100%;
			height: 30px;
			padding: 0 $magic-number;
			margin-bottom: $magic-number;
			text-align: left;
			border: none;
			+ .mce_inline_error{
				display: none !important;
			}
		}
		.mc-field-group{
			position: relative;
		}
		input[type="submit"]{
			padding: 0 18px;
		    position: absolute;
		    bottom: 10px;
		    right: 0;
		    font-weight: 700;
		    width: auto;
		    height: 30px;
		    + .mce_inline_error{
				display: none !important;
			}
		}
	}
}
.col-color{
	@include inline-block;
	width: 15px;
	height: 15px;
	border-radius: 100%;
	position: relative;
	top: 2px;
	margin-right: 0.5 * $magic-number;
}

.resources{
	padding: $magic-number;
	margin: 0;
}

footer{
	margin-top: 3 * $magic-number;
	padding: 2 * $magic-number 0;
	.logo{
		@include span(2);
		font-family: $f-bungee;
		font-size: ms(3);
		text-transform: uppercase;
		line-height: 1.55;
		@include susy-breakpoint($small-range, $susy-small){
			@include span(4);
			text-align: center;
		}
		span{
			font-weight: normal;
			display: block;
			font-size: ms(-1);
		}
		a{
			font-weight: 700;
		}
	}
}
.footer{
	&__feedback{
		@include span(12);
		margin-bottom: 3*$magic-number;
		font-size: ms(1);
		line-height: 1.35;
		@include susy-breakpoint($small-range, $susy-small){
			@include span(4);
		}
	}
	&__share{
		@include span(12);
		margin-bottom: 5*$magic-number;
		text-align: center;
		@include susy-breakpoint($small-range, $susy-small){
			@include span(4);
		}
		> * {
			@include inline-block;
		}
		.fb-share-button{
			top: -4px;
		}
	}
	&__links{
		@include span(5);
		list-style: none;
		padding: $magic-number 0;
		margin-top: 0;
		margin-bottom: 0;
		text-transform: uppercase;
		letter-spacing: .05em;
		font-size: ms(-2);
		font-weight: 500;
		@include susy-breakpoint($small-range, $susy-small){
			@include span(4);
			text-align: center;
		}
		li{
			@include inline-block;
			margin-left: 2 * $magic-number;
			&:first-child{
				margin-left: 0;
			}
			a{
				color: $c-black;
			}
		}
	}
	&__maker{
		@include span(3 last);
		text-align: right;
		font-size: ms(0);
		@include susy-breakpoint($small-range, $susy-small){
			@include span(4);
			text-align: center;
		}
		img{
			width: 35px;
			position: relative;
			top: 5px;
		}
	}
}

.popup{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	display: none;
	z-index: 999;
	#mc_embed_signup{
		@include vertical-align($position: absolute);
		width: span(3);
		left: 50%;
		margin-left: -(span(3)/2);
		z-index: 9;
		@include susy-breakpoint($small-range, $susy-small){
			width: span(4);
			margin-left: -(span(4)/2);
		}
	}
	&__backdrop{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
	}
}

.typeform-share{
	@include inline-block;
	padding: 8px 10px 10px;
	text-transform: uppercase;
	font-size: ms(0);
	font-weight: 500;
	border-radius: 5px;
	&:before{
		padding-right: $magic-number;
		margin-right: $magic-number;
		font-size: ms(1);
		position: relative;
		top: 2px;
	}
}

.full-width{
	@include span(12);
	@include susy-breakpoint($small-range, $susy-small){
		@include span(4);
	}
	h3{
		margin-top: 4 * $magic-number;
		margin-bottom: 2 * $magic-number;
	}
}